In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
import numpy as np

In [136]:
datafile = '/content/drive/MyDrive/Colab Notebooks/CodingDojo/week2/ProjectDataSet_sales_predictions.csv'
df = pd.read_csv(datafile)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [127]:
df.info() # to check data type and which columns has Nan values, here Item_Weight and Outlet_Size columns have Nan values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [128]:
df.duplicated().any() # to check for any duplicates

False

In [129]:
df['Outlet_Size'].value_counts() #to check & outliners for Outlet_Size

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

No unexpected outliner found.
If one of the type would have extreme higher frequency, All Nan values for Outlet size could be replaced with that particular Size type

In [130]:
#to find outliners in columns 
max=df['Item_Weight'].max()
min=df['Item_Weight'].min()
print('max:', max, '& min:', min)

max: 21.35 & min: 4.555

No unexpected outliner found 
If there would be bigger gap between minimum values and maximum values, average of all values(of that column) could have been used to replace missing values for Item Weight column.

In [131]:
#to locate Nan values in Item_Weight 
Nan_Values1 = pd.isnull(df['Item_Weight'])
df[Nan_Values1].head()

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7            FDP10          NaN  ...  Supermarket Type3          4022.7636
18           DRI11          NaN  ...  Supermarket Type3          2303.6680
21           FDW12          NaN  ...  Supermarket Type3          4064.0432
23           FDC37          NaN  ...      Grocery Store           214.3876
29           FDC14          NaN  ...      Grocery Store           125.8362

[5 rows x 12 columns]

In [107]:
Nan_Values1.value_counts() # to count Nan values in Item_Weight column

False    7060
True     1463
Name: Item_Weight, dtype: int64

In [106]:
Nan_Values2 = pd.isnull(df['Outlet_Size']) #to locate Nan values in Outlet_Size column 
df[Nan_Values2].head()

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
3            FDX07       19.200  ...      Grocery Store           732.3800
8            FDH17       16.200  ...  Supermarket Type1          1076.5986
9            FDU28       19.200  ...  Supermarket Type1          4710.5350
25           NCD06       13.000  ...  Supermarket Type1           838.9080
28           FDE51        5.925  ...      Grocery Store           178.4344

[5 rows x 12 columns]

In [108]:
Nan_Values2.value_counts() # to count total Nan values in Outlet_Size column

False    6113
True     2410
Name: Outlet_Size, dtype: int64

# More than thousand values are missing in both the columns
# Since missing values are in very large number, filling missing values is better idea than dropping all of them

In [113]:
#filling Nan values in all NON-Object columns which is Item_Weight for this Dataframe
# We will use interpolate method to fill missing values for Item_Weight column 
# note that this method only works for int or floats
New_df=df.interpolate(method ='linear', limit_direction ='forward')
New_df.head(10)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15        9.300  ...  Supermarket Type1          3735.1380
1           DRC01        5.920  ...  Supermarket Type2           443.4228
2           FDN15       17.500  ...  Supermarket Type1          2097.2700
3           FDX07       19.200  ...      Grocery Store           732.3800
4           NCD19        8.930  ...  Supermarket Type1           994.7052
5           FDP36       10.395  ...  Supermarket Type2           556.6088
6           FDO10       13.650  ...  Supermarket Type1           343.5528
7           FDP10       14.925  ...  Supermarket Type3          4022.7636
8           FDH17       16.200  ...  Supermarket Type1          1076.5986
9           FDU28       19.200  ...  Supermarket Type1          4710.5350

[10 rows x 12 columns]

In [115]:
New_df.isna().sum() # Outlet_Size column still has Nan values

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [167]:
#filling Nan values in Outlet_Size 
final_df = New_df.fillna(method ='pad')
final_df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [120]:
final_df.isna().sum() # No Nan values in new dataframe

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [146]:
final_df.duplicated().any() #to check there is no duplicate rows after filling values

False

In [168]:
final_df['Item_Fat_Content'].value_counts() #to check string inconsistency in Object column

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [169]:
#to make all string consistent in the column
final_df.loc[final_df['Item_Fat_Content'] == 'low fat', 'Item_Fat_Content'] = 'Low Fat'
final_df.loc[final_df['Item_Fat_Content'] == 'LF', 'Item_Fat_Content'] = 'Low Fat'
final_df.loc[final_df['Item_Fat_Content'] == 'reg', 'Item_Fat_Content'] = 'Regular'

In [172]:
final_df['Item_Type'].value_counts() #to check string inconsistency in Object column

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [ ]:
final_df['Outlet_Establishment_Year'].value_counts() #to check string inconsistency in Object column

No Incosistency found

In [173]:
final_df['Outlet_Size'].value_counts() #to check string inconsistency in Object column

Medium    3912
Small     3321
High      1290
Name: Outlet_Size, dtype: int64

In [174]:
final_df['Outlet_Location_Type'].value_counts() #to check string inconsistency in Object column

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [175]:
final_df['Outlet_Type'].value_counts() #to check string inconsistency in Object column

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [177]:
#sorting items by Highest sales
final_df.sort_values(by='Item_Outlet_Sales', ascending=False).head(10)

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7188           NCE42      12.1975  ...  Supermarket Type3         13086.9648
5223           FDQ19       9.9575  ...  Supermarket Type3         12117.5600
1450           FDZ20      19.4250  ...  Supermarket Type3         11445.1020
4349           FDP33      11.0175  ...  Supermarket Type3         10993.6896
6541           FDI50      18.7750  ...  Supermarket Type3         10306.5840
4888           FDF39      14.8500  ...  Supermarket Type1         10256.6490
1009           FDU14      12.0975  ...  Supermarket Type3         10236.6750
7191           NCH18      11.3800  ...  Supermarket Type3         10072.8882
4289           NCM05       6.8250  ...  Supermarket Type1          9779.9362
7752           FDC17      13.6200  ...  Supermarket Type3          9678.0688

[10 rows x 12 columns]